<section class="flex flex-col gap-y-4">
    <div class="div-resumen-card">
        <h2 class="text-center">Mis redes</h2>
        <div class="flex justify-center md:flex-row flex-col gap-2 py-2">
            <a href="https://github.com/manuel018" target="_blank">
                <div class="bg-white rounded-md p-2 border-[0.15em] ">
                    <img class="m-auto h-24 md:h-32 w-auto" src="/assets/github.png"
                        alt="img-tecnologia">
                    <p class="text-center pt-4 font-bold">GitHub</p>
                </div>
            </a>
            <a href="https://www.linkedin.com/in/manuel-alejandro-yaya-purizaca-0a34a52a4" target="_blank">
                <div class="bg-white rounded-md p-2 border-[0.15em] ">
                    <img class="m-auto h-24 md:h-32 w-auto"
                        src="/assets/linkedin.png"
                        alt="img-tecnologia">
                    <p class="text-center pt-4 font-bold">LinkedIn</p>
                </div>
            </a>
        </div>
    </div>
</section>