<section class="flex flex-col gap-y-4">
    <div class="div-resumen-card grid grid-rows-1 md:grid-cols-[1fr_6fr] gap-x-2 justify-items-center items-center">
        <img class="w-[20vw] md:w-4/5 pb-2" src="/assets/default.png" alt="profile-img">
        <div>
            <p class="text-justify px-2">Estudiante de Ingeniería de Sistemas e Informática en el séptimo ciclo, con
                sólidos
                conocimientos en
                programación, desarrollo web y redes. Busco una oportunidad para realizar prácticas preprofesionales que
                me
                permitan aplicar mis habilidades técnicas, aprender sobre el entorno laboral, aprender nuevas
                tecnologías y
                contribuir a proyectos innovadores.
            </p>
        </div>
    </div>
</section>