mat-sidenav {
  background-color: #587b7f;
  width: 18vw;
  min-width: 60px;
}

mat-sidenav-content {
  background-color: #ededed;
}

* {
  font-size: 1.3rem;
}

p {
  margin: 0;
}

.inline-icon {
  vertical-align: -1em;
}

@media (min-width: 768px) {
  .inline-icon {
    vertical-align: -0.75em;
  }

  mat-sidenav {
    min-width: 190px;
  }
}
